<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) if content_for?(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag 'templates/application', media: 'all' %>
  </head>

  <body class="templates">
    <div class="templates__header">
      <div>
        <h1><%= yield(:title) if content_for?(:title) %></h1>
        <%= link_to 'Go Back', templates_engine.root_path if params[:id].present? %>
      </div>
    </div>

    <div class="templates__content">
      <%= yield %>
    </div>
  </body>
</html>
